USE FCT_OCT_1
GO

/*-----------------------------------------------------------------------------------------------------------------------------------------------------

	NOMBRE DEL PROCEDIMIENTO:	PA_RECEPCIONES_Y_DBMAIL
	FECHA DE CREACIÓN: 		06/11/2025
	AUTOR:				Rubén
	VSS:				E:\DevOps\PRACTICAS\FCT_PRACTICAS\2025\FCT_OCT_1\SQL\PROCEDIMIENTOS ALMACENADOS
	USO:				##VISUAL##

	FUNCIONAMIENTO:			ENVIA LAS REFERENCIAS Y LA CANTIDAD POR CORREO CON SU ALBARAN.

	PARAMETROS:			(OPCIONAL)
		PARAMETRO1 		INPUT	EXPLICACION
		PARAMETRO2 		OUTPUT	EXPLICACION

-------------------------------------------------------------------------------------------------------------------------------------------------------
--	FECHA DE MODIFICACIÓN:
--	AUTOR:
--	EXPLICACIÓN:	
------------------------------------------------------------------------------------------------------------------------------------------------------*/

ALTER PROCEDURE PA_RECEPCIONES_Y_DBMAIL
	
	@ALBARAN	INT,

	@INVOKER	INT,		-- ESTE PARÁMETRO LO DEBEN TENER TODOS LOS PAS
	@USUARIO	VARCHAR(12),	-- ESTE PARÁMETRO LO DEBEN TENER TODOS LOS PAS
	@CULTURA	VARCHAR(5),

	@RETCODE	INT OUTPUT, --DEFINICIÓN OBLIGATORIA
	@MENSAJE	VARCHAR(1000)	OUTPUT	--DEFINICIÓN OBLIGATORIA

AS

BEGIN TRY
	--DECLARACION DE VARIABLES 

	DECLARE @N_TRANS		INT = 0	 --NUMERO DE TRANSACCIONES ACTIVAS	(@@TRANCOUNT)
	SET @N_TRANS = @@TRANCOUNT
	DECLARE @UBICACION VARCHAR(30) = 'UBI-5'
	DECLARE @DESTINATARIOS     VARCHAR(1000) = 'practicas.soporte@icp.es'
	DECLARE @TEXTO_EMAIL       NVARCHAR(MAX) = 
		'<html><body><h2>Detalle del Albarán ' + CAST(@ALBARAN AS varchar(MAX))+ '</h2>
		 <table border="1" cellpadding="5">
			<tr>
				<th>REFERENCIA</th>
				<th>DESCRIPCION</th>
				<th>CANTIDAD</th>
			</tr>';
	DECLARE @ASUNTO_EMAIL      VARCHAR(200) = ''
	DECLARE @PERFIL_EMAIL      VARCHAR(100) = null
	DECLARE @DESTINATARIOS_CC  VARCHAR(1000) = ''
	DECLARE @DESTINATARIOS_CCO VARCHAR(1000) = ''
	DECLARE @FORMATO_EMAIL     VARCHAR(20) = 'HTML'
	DECLARE @IMPORTANCIA_EMAIL VARCHAR(6) = 'NORMAL'
	DECLARE @CONFIDENCIALIDAD  VARCHAR(12) = 'NORMAL'
	DECLARE @ARCHIVOS_ADJUNTOS VARCHAR(4000) = ''
	DECLARE @PALET INT

	--COMPROBACIONES
	IF NOT EXISTS(SELECT * FROM RECEPCIONES_LIN WHERE ALBARAN = @ALBARAN)
	BEGIN
		SET @MENSAJE = 'No existen lineas para el albarán ' + CAST(@ALBARAN AS VARCHAR)
		SET @RETCODE = 1
	END
	
	----------------------------------------------------------------------------------------------------------------------------------------------
	IF @N_TRANS = 0						-- Si hay una transacción por encima no hacemos nada
	BEGIN
		BEGIN TRANSACTION TR_NOMBRE_TRANSACTION
	END
	----------------------------------------------------------------------------------------------------------------------------------------------

	--OPERACIONES
	--MANDAR MAIL
	SELECT @TEXTO_EMAIL = @TEXTO_EMAIL +
                              '<tr><td>' + T.REFERENCIA + '</td>' +
                              '<td>' + T.DES_REFERENCIA + '</td>' +
                              '<td>' + T.CANTIDAD + '</td></tr>'
        FROM (
		SELECT
			p.REFERENCIA,
			r.DES_REFERENCIA,
			CAST(SUM(p.CANTIDAD) AS VARCHAR(10)) AS CANTIDAD
		FROM PALETS p
		INNER JOIN REFERENCIAS r ON p.REFERENCIA = r.REFERENCIA
		WHERE p.ESTADO = 1 AND p.ALBARAN = @ALBARAN
		GROUP BY p.REFERENCIA, r.DES_REFERENCIA
	) AS T
        ORDER BY T.REFERENCIA;


	SET @TEXTO_EMAIL = @TEXTO_EMAIL + '</table></body></html>'
		
	SET @ASUNTO_EMAIL = 'Recepcion confirmada - Albarán ' + CAST(@ALBARAN AS VARCHAR)

	EXEC @RETCODE = PA_ENVIAR_DBMAIL 
				@DESTINATARIOS ,
				@TEXTO_EMAIL ,
				@ASUNTO_EMAIL ,
				@PERFIL_EMAIL ,
				@DESTINATARIOS_CC ,
				@DESTINATARIOS_CCO ,
				@FORMATO_EMAIL ,
				@IMPORTANCIA_EMAIL ,
				@CONFIDENCIALIDAD ,
				@ARCHIVOS_ADJUNTOS 


	----------------------------------------------------------------------------------------------------------------------------------------------
	IF @N_TRANS = 0						-- Si hay una transacción por encima no hacemos nada
	BEGIN
		COMMIT TRANSACTION TR_NOMBRE_TRANSACTION
	END
	----------------------------------------------------------------------------------------------------------------------------------------------


	SET @MENSAJE = 'El proceso se ha realizado correctamente.'
	SET @RETCODE = 0
	RETURN @RETCODE
END TRY
BEGIN CATCH
	----------------------------------------------------------------------------------------------------------------------------------------------
	IF @N_TRANS = 0 AND @@TRANCOUNT > 0				-- Si hay una transacción por encima no hacemos nada
	BEGIN
		ROLLBACK TRANSACTION TR_NOMBRE_TRANSACTION
	END
	----------------------------------------------------------------------------------------------------------------------------------------------
	IF @MENSAJE = '' 
	BEGIN
		SET  @MENSAJE = ERROR_MESSAGE()
	END
	
	SET @RETCODE = -1
		
	RETURN @RETCODE
END CATCH

	SET @RETCODE = -1		
	RETURN @RETCODE






/*----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------               PRUEBAS              ------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------


DECLARE @RETCODE	INT
DECLARE @PARAMETRO1	VARCHAR(10)
DECLARE @PARAMETRO2	INT
DECLARE @PARAMETRO3	VARCHAR(20)
DECLARE @MENSAJE	VARCHAR(1000)

SET @MENSAJE 		= ''

EXEC @RETCODE = PA_XXXX @PARAMETRO1, @PARAMETRO2, @PARAMETRO3 OUTPUT, @MENSAJE OUTPUT

PRINT 'RETCODE:	' 	+ ISNULL(CAST(@RETCODE AS VARCHAR(10)), 'NULO')
PRINT 'MENSAJE:	' 	+ ISNULL(@MENSAJE, 'NULO')
PRINT 'PARAMETRO3''	+ ISNULL(@PARAMETRO3, 'NULO')



------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
------------------------------             FIN PRUEBAS            ------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
