@page "/visor"
<h3 align="center">Visor de Log</h3>

<table class="table">
    <thead>
        <tr class="bg-success text-light">
            <th>Prueba-1</th>
            <th>Prueba-2</th>
            <th>Prueba-3</th>
            <th>Prueba-4</th>
            <th>Prueba-5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>E</td>
            <td>I</td>
            <td>O</td>
            <td>U</td>
        </tr>
    </tbody>
</table>


@code {

}
