@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<CascadingAuthenticationState> 
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        <span class="text-white">Hola, @context.User.Identity.Name! (Roles: @string.Join(", ", context.User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value)))</span>
                        <a href="logout" class="btn btn-link text-white">Salir</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="login" class="btn btn-link text-blue">Entrar</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>