@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject IJSRuntime JSRuntime

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        <span class="text-black fw-bold">@context.User.Identity.Name</span>
                        <button class="btn btn-link text-blue" @onclick="Logout">Salir</button>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/login" class="btn btn-link text-blue">Entrar</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>

@code {
    [Inject] public HttpClient Http { get; set; } = default!;
    [Inject] public NavigationManager Nav { get; set; } = default!;

    private async Task Logout()
    {
        await Http.PostAsync("api/auth/logout", null);
        await JSRuntime.InvokeVoidAsync("eval", "window.location.href = '/'");
    }

    private async Task ReloadPage()
    {
        await JSRuntime.InvokeVoidAsync("location.reload");
    }
}